GSoapExampleClient/currentTime.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="currentTime"
 targetNamespace="urn:currentTime"
 xmlns:tns="urn:currentTime"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ns="urn:currentTime"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:HTTP="http://schemas.xmlsoap.org/wsdl/http/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:currentTime"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="urn:currentTime"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <!-- operation request element -->
  <element name="currentTime">
   <complexType>
    <sequence>
     <element name="a" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- ns__currentTime::a -->
     <element name="b" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- ns__currentTime::b -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="currentTimeResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- ns__currentTime::result -->
    </sequence>
   </complexType>
  </element>
 </schema>

</types>

<message name="currentTimeRequest">
 <part name="Body" element="ns:currentTime"/><!-- ns__currentTime::ns__currentTime -->
</message>

<message name="currentTimeResponse">
 <part name="Body" element="ns:currentTimeResponse"/>
</message>

<portType name="currentTimePortType">
 <operation name="currentTime">
  <documentation>Service definition of function ns__currentTime</documentation>
  <input message="tns:currentTimeRequest"/>
  <output message="tns:currentTimeResponse"/>
 </operation>
</portType>

<binding name="currentTime" type="tns:currentTimePortType">
 <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="currentTime">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
</binding>

<service name="currentTime">
 <documentation>gSOAP 2.8.21 generated service definition</documentation>
 <port name="currentTime" binding="tns:currentTime">
  <SOAP:address location="http://www.yourdomain.com/currentTime.cgi"/>
 </port>
</service>

</definitions>
